<h1>StaticPages#top</h1>
<p>Find me in app/views/static_pages/top.html.erb</p>
<h1 class="text-3xl font-bold text-blue-500">
    TailwindCSS and daisyUI Test
  </h1>
  <button class="btn btn-primary mt-5">
    DaisyUI Button
  </button>