<div class="min-h-screen flex flex-col justify-center items-center"><h1>StaticPages#top</h1>
  <p>Find me in app/views/static_pages/top.html.erb</p>
  <h1 class="text-3xl font-bold text-blue-500">
    TailwindCSS and daisyUI Test
  </h1>
  <button class="btn btn-primary mt-5">
    DaisyUI Button
  </button>
</div>
<div>
  <button class="btn">BUTTON</button>
  <button class="btn btn-primary">PRIMARY</button>
  <button class="btn btn-secondary">SECONDARY</button>
  <button class="btn btn-accent">ACCENT</button>
  <button class="btn btn-ghost">GHOST</button>
  <button class="btn btn-link">LINK</button>
  <button class="btn btn-secondary">btn btn-secondary</button>
</div>