<div class="mx-auto flex flex-col justify-center items-center w-2/4">
  <%= link_to "ひとまず使ってみる", training_parts_path, class: "btn btn-secondary text-base-200 mt-10", data: { remote: true } %>
  <div>
    <div class="divider divider-primary my-10">
      <h1>サービス概要</h1>
    </div>
    <p class="pb-5 text-center">Youtubeでどの筋トレ動画をするか迷うあなたへ届けます</p>
    <div class="divider divider-primary my-10">
      <h1>Youるトレの使い方</h1>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg text-center mb-5">
      <h3 class="text-lg md:text-base text-center font-semibold">鍛えたい部位を選択する</h3>
      <div class="text-base md:text-sm">
        <%= image_tag "explanation1.png", class: "mx-auto my-5" %>
        <p class="mb-5">鍛えたい部位を選択して下さい</p>
      </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg text-center mb-5">
      <h3 class="text-lg md:text-base text-center font-semibold">動画を見るボタンを押す</h3>
      <div class="text-base md:text-sm">
        <%= image_tag "explanation2.png", class: "mx-auto my-5" %>
        <p class="mb-5">動画を見るボタンを押すと動画の表示画面へ移ります</p>
      </div>
    </div>
    <div class="pb-5 text-center text-orange-600">
      <p>※注意※</p>
      <p>時々、説明のみの動画が表示されます。その日は休憩して下さい。</p>
    </div>
  </div>
  <%= link_to "使ってみる", training_parts_path, class: "btn btn-secondary text-base-200 mb-5", data: { remote: true } %>
</div>