<div>
  <h1 class="font-bold text-4xl">Videos#search</h1>
  <p>Find me in app/views/videos/search.html.erb</p>
  <h1>検索結果</h1>
  <h2><%= @video.title %></h2>
  <%= link_to '動画を見る', video_path(@video) %>
</div>
