<h1><%= @video.title %></h1>
<div>
  <iframe width="560" height="315" src="<%= @video.embed_url %>" frameborder="0" allowfullscreen></iframe>
</div>
<%
=begin %>
  <% = link_to 'Back to list', search_videos_path %>
<%
=end %>