<div class="flex justify-center mb-10 w-4/5">
  <div class="w-full max-w-4xl">
    <div class="my-10">
      <h1 class="break-words w-full text-center"><%= @video.title %></h1>
    </div>
    <div class="aspect-video">
      <iframe class="w-full aspect-video" src="<%= @video.embed_url %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<%
=begin %>
  <% = link_to 'Back to list', search_videos_path %>
<%
=end %>