<footer class="bg-primary flex flex-col items-center text-neutral-content">
<!--
  <div class="flex items-center text-white text-xs md:text-sm">
    <%= link_to "利用規約", '/', class: 'mx-5 my-4 hover:text-accent transition duration-200 underline' %>
    <%= link_to "プライバシーポリシー", '/', class: 'mx-5 my-4 hover:text-accent transition duration-200 underline' %>
    <%= link_to "お問い合わせ",
                "https://docs.google.com/",
                target: '_blank',
                rel: 'noopener noreferrer',
                class: 'mx-5 my-4 hover:text-accent transition duration-200 underline' %>
  </div>
-->
  <div class="text-sm">
    <p class="text-white py-8">Copyright © 2024. Youるトレ</p>
  </div>
</footer>