@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
@layer components {
  h1 {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl font-semibold; /* DaisyUIを使用する場合 */
  }
  h2 {
    @apply outline-primary outline rounded-md text-primary text-sm md:text-base lg:text-lg xl:text-xl font-medium text-center inline-block mt-10 mb-3 py-2 px-3;
    /* または */
    /*
    font-size: 1.75rem;
    */
    /* カスタムスタイルを使用する場合 */
    /*
    font-weight: semibold;
    */
  }
 /* スマートフォン用のスタイル */
  @media (max-width: 639px) {
    .aspect-video {
      aspect-ratio: 9/16; /* 16:9のアスペクト比 */
      max-width: 100%;
    }
    .icon-hidden-on-mobile {
      display: none;
    }
    .width_ratio {
      width: 60%;
    }
  }

  /* タブレット用のスタイル */
  @media (min-width: 640px) and (max-width: 1023px) {
    .aspect-video {
      aspect-ratio: 16/9; /* 16:9のアスペクト比 */
      max-width: 100%;
    }
    .width_ratio {
      width: 30%;
    }
  }

  /* PC用のスタイル */
  @media (min-width: 1024px) {
    .aspect-video {
      aspect-ratio: 21/9; /* 21:9のアスペクト比 */
      max-width: 100%;
    }
    .width_ratio {
      width: 20%;
    }
  }

}